@import url("./styles/main.css");
@import url("./styles/navbar.css");
@import url("./styles/header.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.9rem;
  color: #333;
  box-sizing: border-box;
  display: grid;
  grid-template: 2fr 1fr 10fr / 1fr 3.5fr;
  background-color: #efefef;
  height: 100vh;
  margin: 0rem 2vw;
}
